<<<<<<< HEAD
<<<<<<< HEAD
li {
    color:aquamarine;
}

h2 {
    color:crimson;
    font-size: 30px;
=======
=======
>>>>>>> origin/master
body {
    background: aqua;
}

li {
<<<<<<< HEAD
    color: red;
    font-size: 18px;
}

h2 {
    font-size: 18px;
>>>>>>> origin/styles
=======
    color:aquamarine;
}

h2 {
    color:crimson;
    font-size: 30px;

>>>>>>> origin/master
}
