<<<<<<< HEAD
li {
    color:aquamarine;
}

h2 {
    color:crimson;
    font-size: 30px;
=======
body {
    background: aqua;
}

li {
    color: red;
    font-size: 18px;
}

h2 {
    font-size: 18px;
>>>>>>> origin/styles
}
